<%= form_for(@citizen) do |f| %>
  <% if @citizen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@citizen.errors.count, "error") %> prohibited this citizen from being saved:</h2>

      <ul>
      <% @citizen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :clmp_number %><br>
    <%= f.number_field :clmp_number %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone_1 %><br>
    <%= f.text_field :phone_1 %>
  </div>
  <div class="field">
    <%= f.label :phone_2 %><br>
    <%= f.text_field :phone_2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
