<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= "#{@citizen.first_name} #{@citizen.last_name}" %>
</p>

<p>
  <strong>Clmp number:</strong>
  <%= @citizen.clmp_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @citizen.email %>
</p>

<p>
  <strong>Phone 1:</strong>
  <%= @citizen.phone_1 %>
</p>

<p>
  <strong>Phone 2:</strong>
  <%= @citizen.phone_2 %>
</p>

<%= link_to 'Edit', edit_citizen_path(@citizen) %> |
<%= link_to 'Back', citizens_path %>
