<%= form_for(@lake) do |f| %>
  <% if @lake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lake.errors.count, "error") %> prohibited this lake from being saved:</h2>

      <ul>
      <% @lake.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lake_name %><br>
    <%= f.text_field :lake_name %>
  </div>
  <div class="field">
    <%= f.label :lake_number %><br>
    <%= f.text_field :lake_number %>
  </div>
  <div class="field">
    <%= f.label :site_number %><br>
    <%= f.text_field :site_number %>
  </div>
  <div class="field">
    <%= f.label :county %><br>
    <%= f.text_field :county %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
