<p id="notice"><%= notice %></p>

<h1>Lakes</h1>

<table>
  <thead>
    <tr>
      <th>Lake name</th>
      <th>Lake number</th>
      <th>Site number</th>
      <th>County</th>
      <th></th>
      <th>Previous year?</th>
    </tr>
  </thead>

  <tbody>
    <% @lakes.each do |lake| %>
      <% @citizen_lake = CitizenLake.where(citizen_id: current_citizen.id, lake_id: lake.id).first %>
      <tr>
        <td><%= link_to lake.lake_name, lake %></td>
        <td><%= lake.lake_number %></td>
        <td><%= lake.site_number %></td>
        <td><%= lake.county %></td>
        <% if current_citizen %>
          <td><%= link_to 'Samples', samples_path(citizen_id: current_citizen.id, lake_id: lake.id) %></td>
          <% @citizen_lake = lake.citizen_lakes.where(citizen_id: current_citizen.id).first %>
          <td><%= link_to @citizen_lake.previous_year ? 'Yes' : 'No', edit_citizen_lake_path(@citizen_lake.id) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_admin %>
  <%= link_to 'New Lake', new_lake_path %>
<% end %>
