<p id="notice"><%= notice %></p>

<p>
  <strong>Lake name:</strong>
  <%= @lake.lake_name %>
</p>

<p>
  <strong>Lake number:</strong>
  <%= @lake.lake_number %>
</p>

<p>
  <strong>Site number:</strong>
  <%= @lake.site_number %>
</p>

<p>
  <strong>County:</strong>
  <%= @lake.county %>
</p>

<p>
  <strong>Sample depth:</strong>
  <%= @lake.sample_depth %>
</p>

<p>
  <strong>Previous year:</strong>
  <%= @lake.previous_year %>
</p>

<%= link_to 'Edit', edit_lake_path(@lake) %> |
<%= link_to 'Back', lakes_path %>
