<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>CLMP</title>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div class="small-2 columns"></div>
  <div class="small-10 columns">
    <div class="right">
      <% if current_citizen %>
        <%= link_to 'Sign out user', destroy_citizen_session_path, method: :delete %>
      <% end %>

      <% if current_admin %>
        <%= link_to 'Sign out admin', destroy_admin_session_path, method: :delete %>
      <% end %>
    </div>

    <% if !current_citizen && !current_admin %>
      <%= link_to 'Sign in user', citizen_session_path %>
    <% end %>

  <%= yield %>
  </div>
  <div class="small-2 columns"></div>

</body>
</html>
